<!DOCTYPE html>
<html>
  <head>
    <title>Add Purchase Order Details</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <form method="POST"><!-- class="post-form" action="/supmk/">-->
      {% csrf_token %}

    <div class="container">
      <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h1>Add Purchase Order Details</h1>
          </div>
          <div class="panel-body">
            <!--<form action="connect.php" method="post">-->
              <div class="form-group">
                <label for="quantity">Quantity</label>
                
                <input
                  type="number"
                  class="form-control"
                  id="quantity"
                  name="quantity"
                />
               
              </div>



              <div class="form-group">
                <label for="item_id">Item Id</label>
               
                <input
                  type="text"
                  class="form-control"
                  id="item_id"
                  name="item_id"
                />
                
              </div>
          



              <div class="form-group">
                <label for="vendor_id">Vendor ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="vendor_id"
                  name="vendor_id"
                />
             
              </div>     


              <div class="form-group">
                <label for="order_date">Order date</label>
                
                <input
                  type="date"
                  class="form-control"
                  id="order_date"
                  name="order_date"
                />
               
              </div>
             
                
               <div class="form-group">
                <label for="mgr_id">Manager ID</label>
                
                <input
                  type="text"
                  class="form-control"
                  id="mgr_id"
                  name="mgr_id"
                />
               
              </div>
                                    
               <input type="submit" class="btn btn-primary" />
               {% if messages %}
               {% for message in messages %}
               <h3 style="color:green;">{{message}}</h3>
               {% endfor %}
               {% endif %}
           
          </div>
         
        </div>
      </div>
    </div>
    <!--
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
   
   
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
</div>-->
    </form>
  </body>
</html>
