<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Manager List</title>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	 <h2><center>Manager List</center></h2>
	 	  {% if messages %}
      {% for message in messages %}
      <div class = "alert alert-success">
      	<h3 style="color:green;">{{message}}</h3>
      </div>
      {% endfor %}
      {% endif %}
	<table class="table table-striped table-bordered table-sm">
	<thead class="thead-dark">
	<tr>
		<th>Manager Id</th>
		<th>Manager name</th>
		<th>Phone number</th>
		<th>Email</th>
		<th>Section name</th>
	</tr>
	</thead>
	{% for mgr in manager_table %}
	<tr>
		<td>{{ mgr.mgr_id }}</td>
		<td>{{ mgr.mgr_name }}</td>
		<td>{{ mgr.phone }}</td>
		<td>{{ mgr.email }}</td>
		<td>{{ mgr.sec_name }}</td>
		<td>
		
			<a href="/editManager/{{ mgr.mgr_id }}" class="glyphicon glyphicon-pencil">Edit</a>
			<a href="/deleteManager/{{ mgr.mgr_id }}" class="glyphicon glyphicon-trash"> Delete</a>
		</td>
	</tr>
    {% endfor %}
    <!-- <a href="#" class="btn btn-primary" role="button">Add Item</a> -->
    <div class="row">
  <div class="col-6-md">
    <a href="{% url 'manager' %}" class="btn btn-primary">Add Manager</a>
    <a href="{% url 'mainScreen' %}" class="btn btn-success">Go to main screen</a>
  </div>
</div>
</body>
</html>